<h1>Log In</h1>
<%= form_tag sessions_path(current_user) do %>
  <span>
    <%= label_tag "email" %><br/>
    <%= text_field_tag "email"  %>
  </span>
  <span>
    <%= label_tag :password %><br/>
    <%= password_field_tag :password  %>
  </span>
  <span><%= submit_tag "Log In" %></span>
<% end %>
