


<!-- Main jumbotron for a primary marketing message or call to action -->
<div id="landing-container">
  <div class="jumbotron">
    <div class="container">
      <h1>Study Smart.</h1>
      <p>Adderall provides Canadian University students with a place to interact with others who are in or who previously took classes they're enrolled in. Find your University, find your classes, find and share old tests and assignments. While your at it use our Q & A board to ask some questions to your classmates and use our flashcards to study what you've learned!</p>

      <hr>
    </div>
    <div id="signup-container">
      <div id="signup-background">
        <h3>Sign up for free!</h3>
        <%= form_for :user, url: url_for(controller: 'users', action: 'create') do |f| %>
        <div>
          <%= f.label "username", "Username" %><br>
          <%= f.text_field "username", :required => true%>
        </div>
        <div>
          <%= f.label "firstname", "First Name" %><br>
          <%= f.text_field "firstname", :required => true %>
        </div>
        <div>
          <%= f.label "lastname", "Last Name" %><br>
          <%= f.text_field "lastname", :required => true %>
        </div>
        <div>
          <%= f.label "email", "Email" %><br>
          <%= f.text_field "email", :required => true %>
        </div>
        <div>
          <%= f.label "password" %><br>
          <%= f.password_field "password", :required => true %>
        </div>
        <div>
          <%= f.label "password_confirmation" %><br>
          <%= f.password_field "password_confirmation" , :required => true%>
        </div>
        <div><%= f.submit "Submit" %></div>
        <% end %>
      </div>
    </div>
  </div>

  <section class="block">
    <div class="inner">
      <div class="cube">
        <img src="http://i1344.photobucket.com/albums/p652/meganryll/logo3_zpsf1f0134e.png" />
        <p>Find and share tests and assignments specific to your University classes.</p>
      </div>
      <div class="cube">
        <img src="http://i1344.photobucket.com/albums/p652/meganryll/icon1_zps5d16b95e.png" />
        <p>Create flash cards and study them.</p>
      </div>
      <div class="cube">
        <img src="http://i1344.photobucket.com/albums/p652/meganryll/icon2_zps33a0ae26.png" />

        <p>Ask and answer questions specific to your University classes.</p>
      </div>
    </div>

    <br class="clearfix" />
    <div class="block-p">

    </div>

  </section>
</div>
