<h3>Sign up for free adderall, don't even have to give 5 bucks to your sketchy friend"</h3>
 <%= form_for @user do |f| %>
  <% if @user.errors.full_messages.any? %>
      <% @user.errors.full_messages.each do |error_message| %>
      <%= error_message if @user.errors.full_messages.first == error_message %> <br />
      <% end %>
    <% end %>
   <div>
    <%= f.label "username", "Username" %><br>
    <%= f.text_field "username", :required => true %>
  </div>
 <div>
    <%= f.label "firstname", "First Name" %><br>
    <%= f.text_field "firstname", :required => true %>
  </div>
  <div>
     <%= f.label "lastname", "Last Name" %><br>
     <%= f.text_field "lastname", :required => true %>
   </div>
  <div>
    <%= f.label "email", "Email" %><br>
    <%= f.text_field "email", :required => true %>
  </div>
  <div>
    <%= f.label "password" %><br>
    <%= f.password_field "password", :required => true %>
  </div>
  <div>
    <%= f.label "password_confirmation" %><br>
    <%= f.password_field "password_confirmation", :required => true %>
  </div>
  <div><%= f.submit "Submit" %></div>
<% end %>
