<body class="dashboard">
<h2 id="flashcard-title">Flashcards</h2>
<section class='col-sm-3' id="flashcard-form">

<section>
<%if !@cardset %>

<div id="opaque-form">
<h3> make a set of flashcard</h3>

  <%= form_for Cardset.new, :url => {:controller => 'cardsets', action: 'create'} do |f| %>
    <div>
      <%= f.label "name" %><br>
      <%= f.text_field :name, :required => true %>
    </div>
    <div class="button">
      <%= f.submit "Create" %> 
    </div>
    </div>
    <%end%>
  <%end%>
</section>

<% if @cardset %>

<div class="flashcard-form" id="opaque-form">

<h3> Add a flashcard</h3>
  <%= form_for(@flashcard, url: url_for(controller: 'flashcards', action: 'create')) do |f| %>
   <input name= "flashcard[cardset_id]" type="hidden" value=<%=@flashcard.cardset_id%> />
    <div>
      <%= f.label "Question" %><br>
      <%= f.text_area :title, size: "27x4", :required => true %>
    </div>
    <div>
      <%= f.label "Answer" %><br>
      <%= f.text_area :content, size: "27x2", :required => true %>
    </div>
    <div class='button'>
      <%= f.submit "Create" %> 
    </div>
  <%end%>
  </div>

<!-- hide this show when button clicked
 -->
  <button id='hide-button' type="button">make a set</button>
  <div class="hidden-form">
  
    <div id='no-display'>
    <h3> Make a new set</h3>
      <%= form_for Cardset.new, :url => {:controller => 'cardsets', action: 'create'} do |f| %>
      <div>
        <%= f.label "name" %><br>
        <%= f.text_field :name, :required => true%>
      </div>
      <div class="button">
        <%= f.submit "Create" %> 
      </div>
    <%end%>
    </div>
  <%end%>
</section>


<div class="col-sm-6" id="card-3456">

<!-- question card -->
 <%if @cardset %>
   <div id='cardset-title'><%=@cardset.name %>
   </div>
    <% @cardset.flashcards.each do |card| %>
    <div class="cards">
    <div class="card-1 card active"> 

    <%= card.title %>
    <%= link_to image_tag("http://www.iconsdb.com/icons/download/gray/x-mark-4-512.png"), flashcard_path(card.id), method: :delete, :class => "delete-button" %>
    </div><br>

  <!-- answer card -->

   <div class="card-2 card">
    <%= card.content %>
    </div>
    </div>
  <%end%>
  </div><br>
  <%else%>

   <h3 id='no-cards'> No cards here yet!</h3>
    </div><br>

  <%end%>

  <div class = "cardset col-sm-3" >
  <div id="opaque-sets">
  <h3> Here are your flashcard sets</h3>
  <% current_user.cardsets.each do |set| %>
    <div id="each-cardset"><%= link_to "#{set.name}", profile_path(:card_set_id =>set.id)%>
    <%= link_to image_tag("http://www.iconsdb.com/icons/download/gray/x-mark-4-512.png"), cardset_path(set.id), method: :delete, :class => "delete-button-1" %>
    <%end%>
  </div>
  </div>

  </div>
  


</div>













</body>

