<body class="dashboard">
<h2> Dashboard </h2>
<section class='col-sm-3' id="flashcard-form">
<section id='cardset-form'>

<%if !@cardset %>
<h3> make a set of flashcard</h3>

<%= form_for Cardset.new, :url => {:controller => 'cardsets', action: 'create'} do |f| %>
  <div>
    <%= f.label "name" %><br>
    <%= f.text_field :name %>
  </div>
  <div id="set-button">
    <%= f.submit "Submit" %> 
  </div>
  <%end%>
  <%end%>
</section>

<div class="flashcard-form">
<h3> create a flashcard</h3>
<%= form_for(@flashcard, url: url_for(controller: 'flashcards', action: 'create')) do |f| %>
 <input name= "flashcard[cardset_id]" type="hidden" value=<%=@flashcard.cardset_id%> />
  <div>
    <%= f.label "Question" %><br>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label "Answer" %><br>
    <%= f.text_field :content %>
  </div>
  <div>
    <%= f.submit "Submit" %> 
  </div>
  <%end%>
  </div>
</section>


<div class="col-sm-6" id="card-3456">

<!-- question card -->
 <%if @cardset %>
 <%=@cardset.name %>
  <% @cardset.flashcards.each do |card| %>
  <div class="cards">
  <div class="card-1 card active"> 

  <%= card.title %>
  </div><br>

<!-- answer card -->

 <div class="card-2 card">
  <%= card.content %>
 
  </div>
  </div>
  <%end%>
  </div><br>
  <%else%>

  <% @flashcards.each do |card| %>
  <div class="cards">
  <div class="card-1 card active"> 

  <%= card.title %>
  </div><br>

<!-- answer card -->

 <div class="card-2 card">
  <%= card.content %>
 
  </div>
  </div>
  <%end%>
  </div><br>

  <%end%>

  <div class = "cardset">
  <h3> Here are your flashcard sets</h3>
  <% current_user.cardsets.each do |set| %>
  <%= link_to "#{set.name}", profile_path(:card_set_id =>set.id)
%>
  <%end%>
  </div>
  


</div>













</body>

