<body class="dashboard">
<h2> Dashboard </h2>
<section class='col-sm-3' id="flashcard-form">
<section id='cardset-form'>
<h3> make a set of flashcard</h3>
<%= form_for Cardset.new, :url => {:controller => 'cardsets', action: 'create'} do |f| %>
  <div>
    <%= f.label "name" %><br>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.submit "Submit" %> 
  </div>
  <%end%>
</section>

<h3> create a flashcard</h3>
<%= form_for(Flashcard.new, url: url_for(controller: 'flashcards', action: 'create')) do |f| %>
  <div>
    <%= f.label "title" %><br>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label "content" %><br>
    <%= f.text_field :content %>
  </div>
  <div>
    <%= f.submit "Submit" %> 
  </div>
  <%end%>
</section>


<div class="cards col-sm-6" id="card-3456">

  
  <% current_user.flashcards.each do |card|%>

  <div class="card-1 card active">
  <%= card.title %>
  <%end%>

  </div>

    <% current_user.flashcards.each do |card|%>
    <div class="card-2 card">
  <%= card.content %>
  <%end%>
  </div>
  </div>

  <div class = "cardset">
  <h3> Here are your flashcard sets</h3>
  <% current_user.cardsets.each do |set| %>
  <%= set.name %>
  <%end%>
  </div>
  


</div>













</body>

