<h1><%= @course.name %></h1>
<p>Add a test, assignment or note and help out your peers!</p>

<script type="text/javascript">
  $(document).ready(function() {
    $(".fancypdf").click(function(){
     $.fancybox({
       type: 'html',
       autoSize: false,
       content: '<iframe src="'+$(this).data("pdf-url")+'" height="99%" width="100%" />',
       beforeClose: function() {
         $(".fancybox-inner").unwrap();
       }
     }); //fancybox
     return false;
    }); //click
  });
</script>

<div class="container">
  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-1">Share a Test</button>
    <div class="modal" id="modal-1" tabindex="1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button id="close" type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Share a Test</h4>
            </div>
              <div class="modal-body">
                <%= form_for @note, url: url_for(controller: 'notes', action: 'create', course_id: @course.id, university_id: @course.university.id) do |f| %>
                  <p>
                    <label>Upload a Test or Assignment!</label>
                    <%= f.file_field :note_file %>
                    <div>
                      <%= f.label "Title" %><br>
                      <%= f.text_field "title" %>
                    </div>
                    <div>
                      <%= f.submit "Submit" %>
                    </div>
                  </p>
                <% end %>
              </div>
             <div class="modal-footer">
            </div>
          </div>
        </div>
    </div>
</div>






<% @notes.order(:upvote_count).reverse.each do |note| %>

  <h2><%= note.title %></h2>
  <h3>Upvotes: <%= note.upvotes.count %>
  <%= image_tag note.note_file.web_thumb, :class => "fancypdf", :rel => "800-1200", :data => { :pdf_url => note.note_file.url } %>
    <%= form_tag "/upvotes/#{note.id}" do %>
      <div>
        <%= submit_tag "Upvote" %>
      </div>
  <% end %>
<% end %>
