<div id="course-background">
  <div id="course-box">
  <div class="find-title"><p><%= @university.name %></p></div>
  <span class="search-box"><input class="type_text" id="search-text" placeholder="Search">
  <p>Select your course and view the goods!</p>

  <div id="courses">
    <% @courses.order(:name).each do |course| %>
      <div class="course"><%= link_to "#{course.name}", university_course_path(@university, course) %></div><br>

    <% end %>
  </div>



      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-1">Add a course</button>
      <div class="modal" id="modal-1" tabindex="1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button id="close" type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Share a Test</h4>
              </div>
                <div class="modal-body">
                  <h2>Submit a Course!</h2>

                  <%= form_for @course, url: url_for(controller: 'courses', action: 'create', university_id: @university.id) do |f| %>
                    <div>
                      <%= f.label "name" %><br>
                      <%= f.text_field "name" %>
                    </div>
                    <div>
                      <%= f.label "course number" %><br>
                      <%= f.number_field "course_number" %>
                    </div>
                    <div>
                      <%= f.label "department" %><br>
                      <%= f.text_field "department" %>
                    </div>
                    <div>
                      <%= f.submit "Submit" %>
                    </div>
                  <% end %>
                </div>
              <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
