<header>
  <div id=navbar>
    <a href="/landing"><img id="main-logo" src="http://i1344.photobucket.com/albums/p652/meganryll/adderralllogo_zpse37780d3.png"></a>
    <div class="nav-butz">
      <small>
        <% if current_user %>
        <%= link_to "Log out", session_path("current"), method: :delete %><%=link_to "Dashboard", profile_path%>
          <%= link_to "Universities", universities_path %>
        <% else %>
        <div id="login">
          <%= form_tag sessions_path(current_user) do %>
            <span>
              <%= label_tag "email" %><br/>
              <%= text_field_tag "email"  %>
            </span>
            <span>
              <%= label_tag :password %><br/>
              <%= password_field_tag :password  %>
            </span>
            <span><%= submit_tag "Log In" %></span>
          <% end %>
        </div>
        <% end %>
      </small>
    </div>
  </div>
  <small>

  </small>
</header>
